.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-around {
    justify-content: space-around;
}

.color-white {
    color: #FFFFFF;
}

.bold {
    font-weight: 700;
}

.ul {
    list-style-type: none;
    width: 300px;
    justify-content: space-around;
    color: #777;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

.gap {
    gap: 15px;
}

.openMenu {
    display: none;
}

.closeMenu {
    display: none;
}

.navContainer {
    height: 50px;
    background: #3C3D37;
    align-items: center;
    padding: 0 20px;
}

.navRight {
    flex-direction: row;
}

.input-text {
    height: 25px;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 2px;
    padding-left: 5px;
}

.input-text::placeholder {
    padding-left: 5px;
    font-size: 10px;
}

.search-button {
    margin-top: 2px;
    height: 27px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    background-color: #686D76;
    outline: none;
    color: #FFFFFF;
}

.search-container {
    display: flex;
    align-items: center;
}

/* Responsive design */
@media (max-width: 900px) {
    .navContainer {
        padding: 10px;
    }

    .ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        position: absolute;
        right: 0px;
        display: none;
        background: #000;
    }

    .search-container {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .input-text {
        width: 70%;
    }

    .navRight {
        flex-direction: row-reverse;
    }

    .openMenu {
        display: flex;
        padding: 5px;
        position: absolute;
        right: 2px;
    }

    .closeMenu {
        display: block;
    }
}

@media (max-width: 480px) {
    .ul {
        width: min-content;
        background: #000;
        padding: 10px;
        position: absolute;
        right: 0px;
        display: none;
    }

    .input-text {
        width: 150px;
    }

    .navRight {
        flex-direction: row-reverse;
    }

    .openMenu {
        display: flex;
        padding: 5px;
        position: absolute;
        right: 2px;
    }

    .closeMenu {
        display: block;
    }
}
