.replicatedCard {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
}

/* Responsive design */
@media (max-width: 900px) {
    .replicatedCard {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .replicatedCard {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Responsive design */
@media (max-width: 480px) {
    .replicatedCard {
        grid-template-columns: repeat(2, 1fr);
    }
}